body {
  width: 50%;
  margin: 0 auto;
}
header {
  text-align: center;
}
header h1 {
  font-size: 100px;
  color: #2c3e50;
  font-weight: 200;
}
input {
  font-size: 20px;
  color: #2c3e50;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #2c3e50;
  padding: 5px;
}
.task {
  background-color: #2c3e50;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  overflow-x: hidden;
}
.task span {
  color: #ffffff;
  cursor: pointer;
}
.icon {
  float: right;
  margin-right: 20px;
}
article {
  display: grid;
}
.edit-todo {
  width: 85%;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}
